<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/front.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/facebook.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li {% if controller  == 'home' %}class="active" {% endif %}>
                            <a href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li {% if controller  == 'gallery' %}class="active" {% endif %}>
                            <a href="{{ path('gallery') }}">Galerie</a>
                        </li>
                        <li {% if controller  == 'rules' %}class="active" {% endif %}>
                            <a href="{{ path('rules') }}">Règles</a>
                        </li>
                        <li style="{% if admin == false %}display:none{% endif %}">
                            <a href="#">Connexion</a>
                        </li>
                    </ul>
                    <a href="{{ path('participate') }}"><button type="button" id="participate" class="btn btn-secondary">Je participe</button></a>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
