<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title id="pageTitle">Tatoueur depuis 10 ans</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/front.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/facebook.js') }}"></script>
        <script src="{{ asset('js/front.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% elseif app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li {% if controller  == 'home' %}class="active" {% endif %}>
                            <a href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li {% if controller  == 'gallery' %}class="active" {% endif %}>
                            <a href="{{ path('gallery') }}">Galerie</a>
                        </li>
                        <li {% if controller  == 'rules' %}class="active" {% endif %}>
                            <a href="{{ path('rules') }}">Règles</a>
                        </li>
                        <li {% if controller  == 'contest_result' %}class="active" {% endif %}>
                            <a href="{{ path('contest_result') }}">Résultats</a>
                        </li>
                        <li style="{% if admin == false %}display:none{% endif %}">
                            <a href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                        </li>
                    </ul>
                    <button type="button" id="participate" class="btn btn-secondary" data-toggle="modal" data-target="#sharePageModal">Partager sur Facebook</button>
                    <a href="{{ path('participate_index') }}"><button type="button" id="participate" class="btn btn-secondary">Je participe</button></a>
                    <div id="sharePageModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    Voulez vous vraiment partager l'application sur votre mur Facebook ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-green btn-lg has-subtext" onclick="share('https://www.facebook.com/Tatouage-239023369859103?sk=app_1504707966210156','https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/552345_420640654657180_1666928990_n.jpg?oh=486b25546134b49b7f2d8d6893571faa&oe=59391C23');jQuery('#sharePageModal').modal('toggle');" data-toggle="modal" data-target="#confirmPageModal">Partager</button>
                                    <button type="button" class="btn btn-green btn-lg has-subtext" data-toggle="modal" data-target="#sharePageModal">Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                <div id="confirmPageModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    La page a bien été partagée sur votre mur.
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-green btn-lg has-subtext" onclick="jQuery('#confirmPageModal').modal('toggle');">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    <div class="row center-block footer">
        {% if pages|length > 0 %}
        <div class="liens-footer">
            {% for key,page in pages %}
                 {% if key > 0 %} - {% endif %}<a href="{{ path('page', {'code': page.code}) }}"> {{ page.title }}</a>
            {% endfor %}
            </div>
        {% endif %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
