{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid header-page">
    <div class="row">
        <h1 class="text-center">{{ contest.name }} </h1>
        <h2 class="text-center">du {{ contest.dateStart|date('d/m/Y') }} au {{ contest.dateEnd|date('d/m/Y') }} </h2>
        <div class="filters col-sm-offset-1 col-sm-2">
            <div class="dropdown">
                <button class="btn btn-secondary btn-border dropdown-toggle" type="button" data-toggle="dropdown">Filtrer par
                    <span class="caret"></span></button>
                <br>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('gallery', {'type': 'dateAsc'}) }}">Date d'ajout (croissante)</a></li>
                    <li><a href="{{ path('gallery', {'type': 'dateDesc'}) }}">Date d'ajout (décroissante)</a></li>
                    <li><a href="{{ path('gallery', {'type': 'voteAsc'}) }}">Nombre de vote (croissant)</a></li>
                    <li><a href="{{ path('gallery', {'type': 'voteDesc'}) }}">Nombre de vote (décroissant)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="list-photos">
        {% for key,contestParticipant in contestParticipants %}
            {% if key is divisibleby(3) %}
                <div class="row gallery-row" {% if key != 0 %}style="display:none;"{% endif %}>
            {% endif %}
            <div class="album-cover col-sm-4">
                <img class="crop image-transfert " data-toggle="modal" data-target="#myModal_{{ key }}" style="background-image: url({{ contestParticipant.photo.link }})";>
                <div id="myModal_{{ key }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Photo de {{ contestParticipant.participant.user.firstname }} {{ contestParticipant.participant.user.lastname|truncate(1, false, '') }}.</h4>
                            </div>
                            <div class="modal-body">
                                <img class="image-grande" src="{{ contestParticipant.photo.link }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onclick="share(getShareUr{{ photo.getShareUrl }})" data-dismiss="modal">Partager</button>
                                <a href="{{ path('vote_photo', { 'contestParticipantId': contestParticipant.id, 'contestParticipants' : contestParticipants }) }}">
                                    <button type="button" class="btn btn-primary">Voter</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="picture-info center-block ">
                    <p class="text-center">{{ contestParticipant.votes }} <span class="glyphicon glyphicon-heart"></span> {{ contestParticipant.participant.user.firstname }} {{ contestParticipant.participant.user.lastname|truncate(1, false, '') }}.<br/>
                    <p class="text-center">{{ contestParticipant.dateInscription|date('d/m/Y') }}</p>
                </div>
            </div>
            {% set last = 100 %}
            {% if (key == 2) or (last == key) %}
                {% set last = key+3 %}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<button type="button" onclick="seeMore()" id="seeMore" class="btn btn-secondary btn-border btn-see-more btn-page">Voir plus d'images</button>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/transfert.css') }}">
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}