{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
           <h2> Transférer une photo </h2>
        </div>
        <div class="row">
            <button>Retour</button>
        </div>
        {% if album|length > 0 %}
            <div class="row center-block" id ="album-list">
                {% for key,photo in album.photos %}
                    <div class="album-cover col-md-3" >
                        <img class="crop image-transfert " data-toggle="modal" data-target="#myModal_{{ key }}" style="background-image: url({{ photo.images[0].source }})";>
                        < id="myModal_{{ key }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ album.name }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <img class="image-grande" src="{{ photo.images[0].source }}">
                                    </div>
                                    <div class="modal-footer">
                                        <a {% if already_participated %}onclick="return confirm('Vous avez déjà participé à ce concours. Si vous continuez, votre ancienne participation sera écrasée. Etes vous sur ?')"{% endif %} href="{{ path('participate_photo_facebook', { 'albumId': album.id, 'photoId': photo.id }) }}"><button type="button" class="btn btn-secondary" id="selectionner" data-album="{{ album.id }}" data-photo="{{ photo.id }}">Sélectionner</button></a>
                                    </div>
                                </div>
                            </div>

                    </div>
                {% endfor %}
            </div>
        {% else %}
        <form method="POST" enctype='multipart/form-data' {% if already_participated %}onsubmit="return confirm('Vous avez déjà participé à ce concours. Si vous continuez, votre ancienne participation sera écrasée. Etes vous sur ?')" {% endif %}>
        <div class="row center-block form">
                {% if form %}
                {{ form_start(form) }}
                    {{ form_label(form.photo) }}
                    {{ form_widget(form.photo) }}
                <button class="btn btn-green btn-lg has-subtext"
                            onclick="jQuery(this).closest('form').submit();">
                    <span class="smaller">Participer</span>
                </button>
                {{ form_end(form) }}
                    {% endif %}
            </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/transfert.css') }}">
{% endblock %}