{% extends 'base.html.twig' %}
{% block head %}
        {#<meta property="og:url" content="{{ url('photo_display', {'facebookId': contestParticipant.photo.facebookId}) }}"/>#}
        <meta property="og:site_name" content="Pardon Maman" />
        <meta property="og:title" content="Tattoueur depuis 10 ans" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ photo.getShareUrl }}"/>
        <meta property="og:image" content="{{ photo.link }}"/>
        <meta property="og:locale" content="fr_FR"/>
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row center-block">
        	<img class ="col-sm-offset-2 col-sm-8" src="{{ photo.link }}" />
    	</div>
    	<div class="row center-block">
			<button type="button" class="btn btn-default" onclick="share('{{ photo.getShareUrl }}')">Partager</button>
			{% if contestParticipant %}
				<a href="{{ path('vote_photo', { 'contestParticipantId': contestParticipant.id, 'contestParticipants' : contestParticipants }) }}">
					<button type="button" class="btn btn-primary">Voter</button>
				</a>
			{% endif %}
		</div>
    </div>
{% endblock %}
